.carousel-inner img{
    height: 663px;
}

.caption {
    margin-top: 100px;
    padding: 100px 150px 100px 150px;
    width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: 2;
    color: #1ebba3;
    text-shadow: 5px 5px 5px black;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.caption h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 59px;
    text-shadow: 5px 5px 5px black;
}